.table-of-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table-of-content {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Generic scrollbar hide utility class */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.heading-item:has(a.current-heading) {
  @apply text-zinc-200;
}

.heading-item:has(a.current-heading)::after {
  content: 'Current';
  @apply ml-2 rounded-full bg-emerald-950/75 py-1 pl-2 pr-2.5 text-xs leading-none text-emerald-400;
}

.gradient-clipped {
  mask: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  -webkit-mask: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}
